# URL base de tu backend en Django
VITE_API_URL=http://localhost:8000
# Tu ID de cliente de Google Cloud Console (necesario para generar el id_token en React)
VITE_GOOGLE_CLIENT_ID=your_google_oauth_client_id_here