POSTGRES_DB=rsu_db
POSTGRES_USER=rsu_user
POSTGRES_PASSWORD=rsu_password
POSTGRES_HOST=db
POSTGRES_PORT=5432
DJANGO_SECRET_KEY=cambia_esto_por_una_clave_segura
DJANGO_DEBUG=True
GOOGLE_CLIENT_ID=your_google_oauth_client_id_here
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
ALLOWED_HOSTS=localhost,127.0.0.1
MEDIA_ROOT=
